<ion-content [scrollEvents]="true" appHideHeader #content>
  <ion-list class="margin-bottom ion-no-padding" lines="none">
    <ion-item *ngFor="let contact of contacts" class="ion-activatable" no-lines>
      <ion-avatar slot="start" style="height: 50px; width: 50px;" (click)="contactImageClick(contact)">
        <img [src]="contact?.contactAvatar" />
        <ion-ripple-effect></ion-ripple-effect>
      </ion-avatar>
      <ion-label class="ion-text-wrap" (click)="contactClick(contact)">
        <h2 class="text-height">
          <strong>{{ contact?.contactName }}</strong>
          <p style="font-size: 10px;" class="ion-float-end">{{ contact?.time | rightChatsComponentTime }}</p>
        </h2>
        <p class="text-height endText">{{ contact?.snippet }}</p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>

<ion-modal #modal (willDismiss)="onWillDismiss($event)">
  <ng-template style="max-height: 50%!important;">
    <ion-header class="modal-header">
      <ion-title style="font-size: 22px; margin-left: 5px; padding-inline: 0; font-weight: 300;">{{ currentContact.contactName }}</ion-title>
    </ion-header>
    <ion-card style="margin: 0;" style="display: contents;">
      <img [src]="currentContact.contactAvatar" (click)="openCurrentContactAvatar()" />
      <ion-card-content class="ion-no-padding">
        <ion-row class="rrr">
          <ion-col class="ion-justify-content-around">
            <ion-buttons>
              <ion-button>
                <ion-icon style="font-size: 27px!important;" color="primary" name="chatbox-ellipses"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col class="ion-justify-content-around">
            <ion-buttons>
              <ion-button>
                <ion-img style="width: 24px" src="assets/r/bws.png"></ion-img>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col class="ion-justify-content-around">
            <ion-buttons>
              <ion-button>
                <ion-img style="width: 24px" src="assets/r/bwr.png"></ion-img>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col class="ion-justify-content-around">
            <ion-buttons>
              <ion-button>
                <ion-icon style="font-size: 27px!important;" color="primary" name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>

<!--
<ion-modal #modal2 trigger="open-avatar" (willDismiss)="onWillDismiss($event)" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
  <ng-template>

  </ng-template>
</ion-modal> -->

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary">
    <!-- <ion-icon color="light" name="chatbox-ellipses"></ion-icon> -->
    <ion-img style="width: 24px" src="assets/r/9k.png"></ion-img>
  </ion-fab-button>
</ion-fab>
