<ion-app>
  <ion-header #header id="header" [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>WhatsApp</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>        
        <!-- <div class="btn-group dropstart">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropstart
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action</a></li>
          </ul>
        </div> -->
      </ion-buttons>
    </ion-toolbar>    
  </ion-header>
  <ion-toolbar color="primary" class="">
    <ion-segment #segment value="ion-sb-1" mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button style="min-width: auto; max-width: 48px;">
        <ion-icon class="camera-icon" name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>chats</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>status</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>calls</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content [fullscreen]="true" >
    <ion-slides #slider pager="false" (ionSlideWillChange)="slideChanged()" [options]="slideOpts">
      <ion-slide>
        <h1>{{ 'HELLO' | translate }}</h1>
      </ion-slide>
      <ion-slide>
        <app-chats></app-chats>
      </ion-slide>
      <ion-slide>
        <app-status></app-status>
      </ion-slide>
      <ion-slide>
        <app-calls></app-calls>
      </ion-slide>
    </ion-slides>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </ion-content>
</ion-app>